@font-face {
	font-family: "Default Sans Book";
	src: url("/static/fonts/default_sans-book-webfont.woff") format('woff');
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: "Default Sans Book";
	src: url("/static/fonts/default_sans-bold-webfont.woff") format('woff');
	font-display: swap;
	font-weight: bold;
}

@font-face {
	font-family: "Default Sans Book Mono";
	src: url("/static/fonts/default_sans-book_mono-webfont.woff") format('woff');
	font-display: swap;
}

:root {
	font-size: 1.25em;
	--purple: #8DAAFF;
	--cyan: #86FFFF;
	--pink: #FFABBE;
	--white: white;
	--red: #FF351F;
	--blue: #0A4AFC;
	--platinum: #E9E9ED;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	background-size: 57px 57px;
  	background-image:
	/* grid */
    linear-gradient(to right, var(--purple) 1px, transparent 1px),
    linear-gradient(to bottom, var(--purple) 1px, transparent 1px);
	padding: 0;
	margin: 0;
	font-family: "Default Sans Book", sans-serif;
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

@media screen and (min-width:480px) {
	html, 
	body {
		background-size: 67px 67px;
	}
}

main {
	max-width: 70ch;
}

p,
pre,
ul {
	line-height: 1.5;
}

header nav li a[data-current="current item"] {
	background: linear-gradient(var(--purple), var(--purple)) no-repeat;
	background-position:0 1.5rem;
	background-size:100% 2rem;
}

h1, h2, h3 {
	font-style: normal;
}
a[href],
a[href]:visited {
	color: black;
}

header a {
	text-decoration: none;
}

main a[href],
main a[href]:not(:hover) {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0;
  }

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-family: "Default Sans Book Mono", monospace;
	background: var(--platinum);
	font-size: .8rem;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 1.25em;
	margin: .67em 0;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
	font-size: 2em;
	text-decoration: none;
}

/* Posts List */
article {
	margin-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	text-decoration: none;
	letter-spacing: .1em;
  	font-size: .5625em;
  	padding: 0 .5em;
	height: 1.25em;
 	border-radius: .25em;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	background-color: var(--cyan);
}

a[rel="tag"]:last-child {
	margin-right: 0;
} */

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1.25em;
  font-family: "Default Sans Book", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	background-color: var(--cyan);
	border: 1px solid var(--cyan);
	cursor: pointer;
	padding: .3em;
}

blockquote {
	padding-left: 1rem;
	border-left: 5px solid var(--cyan);
}

/* footer row */
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
  }

.flex-item {
	font-size: .5em;
	padding: 5px;
	font-family: "Default Sans Book Mono", monospace;
}

.flex-item a {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: contain;
	border: 5px solid var(--platinum);
  }

/* barbershop pole */
.pole {
	width: 50px;
	height: 200px;
	/* margin: 1rem auto; */
	background-image:
	  repeating-linear-gradient(
	    -45deg,
	    var(--red),
	    var(--red) 1rem,
		var(--white) 1rem,
	    var(--white) 2rem,
	    var(--blue) 2rem,
	    var(--blue) 3rem,
		var(--white) 3rem,
		var(--white) 4rem
	  );
	background-size: 200% 200%;
	animation: barberpole 20s linear infinite;
	}

	@keyframes barberpole {
	100% {
	  background-position: 100% 100%;
	}
	}

