<footer>

  <ul class="flex-container">
    <li class="flex-item">
      Bluesky: <a href='https://bsky.app/profile/bumble.blue'>@bumble.blue</a>
    </li>
    <li class="flex-item">
      Mastodon: <a href='https://chaos.social/@bumbleblue'>@bumbleblue@chaos.social</a>
    </li>
    <li class="flex-item">
      LinkedIn: <a href='https://www.linkedin.com/in/eileenwagner/'>eileenwagner</a>
    </li>
    <li class="flex-item">
      Email: hello@ the domain of this website / <a href='/gpgkey-3A6B8452'>GPG key</a>
    </li>
    <li class="flex-item">
      &copy; <a href="https://gitlab.com/bumbleblue/bumbleblog">eileen wagner</a> 2025
    </li>
  </ul>
  </flex-container>
  
  <div id="wcb" class="carbonbadge" style="padding-top:20px;text-align:left;"></div>

  <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</footer>
