---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}

{% include "components/music.njk" %}